.MuiPaper-root.YesBet {
  background-color: #39f491;
}
.MuiPaper-root.NoBet {
  background-color: #FF6922;
}

body{
  background-image: url("background.svg");
}

#logo{
  background: url("/public/logo.jpeg");
  position: fixed;
  top: 10px;
  left: 10px;
  width: 10px;
  length: 10px;
}
