.MuiPaper-root.YesBet {
  background-color: #39f491;
}
.MuiPaper-root.NoBet {
  background-color: #FF6922;
}

body{
  background-image: url("background.svg");
}

#logo{
  background-image: url("https://lh3.googleusercontent.com/aEmuZlplMA7vzz_Ovxye9UpeWnBoNuYwUqIVR-KWSp_F_HwDqHLtju6LJ69vCIjHuPzATw=s108");
  position: fixed;
  top: 10px;
  left: 10px;
  width: 10px;
  length: 10px;
}
